.head{
   margin-left: 40%;
   margin-top : 5%;
}

.desc {
    font-size: 20px;
    margin-right: 20%;
    color : black
}
.button {
    border-radius: 10px;
    background-color: #1d2b64;
    color:white;
    font-size: 23px;
    font-weight: bold;
    width : 30%;
    height : 60px;
}
